# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# secrets and local configuration
.env
.env.*
!.env.example
!.env.local.example

# tests
/coverage

# Next.js and production output
/.next/
/out/
/build/

# debug and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
Thumbs.db
